@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #020617; /* surface-900 */
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* 自定義捲軸 */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b;
}
::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}